:root {
  --page-margin: 16.66%;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}


@font-face {
  font-family: "Raleway";
  src: url("/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans';
  color: #515a5d;
}

*:disabled {
  background-color: rgba(0, 0, 0, 0.03);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-link * {
  pointer-events: none;
  
}

a {
  color: #2d86aa;
  text-decoration: none
}

a * {
  color: #2d86aa;
}

sub {
  color: #2d86aa;
  font-size: 1.4rem;
}

#map { height: 180px; }

header {
  padding: 0 var(--page-margin);
  font-size: 1.5rem;
  white-space: nowrap;
}

header, footer {
  height: 4rem;
  /* background-color: #515a5d; */
  background-color: #a1acb0;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 0 var(--page-margin);
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

footer span {
  color: aliceblue;
}

.footer-span-end {
  text-align: end;
}

h1, h2, h3 {
    font-family: 'Raleway';
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.contact-header {
  display: flex;
  justify-content: center;
}

.hero {
  background-color: #d9eaf1;
  display: flex;
  height: 25rem;
  height: 51vh;
  padding: 0 var(--page-margin);
}

.hero-image, .hero-content {
  flex: 1;
}

.hero-image {
  background-image: url(./assets/images/VESIKA.png);
  filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.2));
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 307px;
}


.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.content {
  padding: 3rem var(--page-margin);
  display: flex;
  gap: 2rem;
}

.content-copy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 2;
}

.content-copy:first-child(p) {
  font-size: 1.2rem;
  font-weight: 900;
}

.form-container {
  flex: 1;
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  width: 60%;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.3s;
}

input:focus, textarea:focus, input:hover:not([disabled]), textarea:hover:not([disabled]) {
  box-shadow: 0px 5px 0px #d9eaf1;
}

button {
  padding: 0.25rem 0;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #2d86aa;
  color: #2d86aa;
  background-color: #d9eaf1;
}

button:hover:not([disabled]) {
  color: #d9eaf1;
  background-color: #2d86aa;
}

button:disabled {
  cursor: default;
}
 
.message-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea {
  padding: 0.2rem;
  width: 100%;
  height: 10rem;
  resize: none;
  outline: none;
  transition: all 0.1s;

  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2px;
}

.copy-headline {
  font-size: 1.25rem;
  font-weight: bold;
}

.rule {
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.toast-notification {
  position: fixed;
  z-index: 999999;
  padding: 0.5rem 4rem;
  border-radius: 3px;
  left: 50px;
  bottom: 50px;
  background-color: #d9eaf1;
  box-shadow: 0px 0px 30px #00000024;
  transform: translateX(-400px);
  transition: all 0.5s ease-in-out;
}

.notification-active {
  transform: translateX(0px);
}

@media screen and (max-width: 1050px) {

  .content {
    flex-direction: column;
  }

}

@media screen and (max-width: 775px) {
  :root {
    --page-margin: 10%;
  }
}

@media screen and (max-width: 680px) {

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 630px) {
  .contact-link {
    justify-content: center;
  }

  .contact-link span {
    display: none;
  }
}

@media screen and (max-width: 580px) {
  header {
    font-size: 1rem;
    height: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    padding-top: 0.5rem;
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    background-position: 50% 50%;
    border-bottom: 1px solid #2d86aa;
  }
}

@media screen and (max-width: 380px) {
  footer {
    padding: 0.5rem 0;
    gap: 0.5rem;
    flex-direction: column;
    height: inherit;
  }
  footer span {
    text-align: center;
  }
}